<style>
  body {background-color: rgba(31,56,80,1);
        color: white;}
        .buttons {
          display: flex;
            justify-content: center;
        }
        .btn {
          width: 30%;
            margin-right: 1%;
            margin-left: 1%;
        }
        h1 {text-align:center;}
        p {text-align:center;}
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
            height: 60%;
      }
</style>