.body{
    background-color: grey;
}


.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.navbar-nav>li{
    border-right: 1px solid white;
}

.navbar-brand {
    border-right: 1px solid white;
    font-size: large;
}

.navbar-nav>li:last-child{
    border: none;
}

.navbar {
    min-height: 80px;
    font-size: large;
}

.parallax {
    background-image: url('../../images/drawing.JPG');
    min-height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: .6; */
}

    .parallax-2 {
        background-image: url('../../images/drawing.JPG');
        min-height: 600px; 
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* opacity: .6; */
    }

.parallaxB {
    background-image: url('../../images/art.JPG');
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: .6; */
}

.parallaxC {
    background-image: url('../../images/drawing.JPG');
    /* min-height: 600px;  */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: .6; */
}

    .parallaxB-2 {
        background-image: url('../../images/art.JPG');
        min-height: 600px; 
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* opacity: .6; */
    }

    .caption {
        position: absolute;
        left: 0;
        top: 45%;
        width: 100%;
        text-align: center;
        color: black;
        transform: translateY(-90%);
        font-size: 40px;
        opacity: .8 !important;
    }

    .caption#child {
        position: absolute;
        width: 200px;
        height: 200px;
    }

    .caption#opacity {
        position: absolute;
        width: 200px;
        height: 200px;
        opacity: .6;
    }

.border-3 {
    border-width:10px !important;
}


/* width */
::-webkit-scrollbar {
    width: 6px;
}
  
    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: none; 
        border-radius: 10px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #104e8b; 
        border-radius: 10px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #b30000; 
    }

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
        /* background-color: black; */
        /* background-image: none; */
    }
    .parallaxB {
        background-attachment: scroll;
    }
    .parallaxC {
        background-attachment: scroll;
        /* background-color: black; */
        background-image: none;
    }
    .parallax-2 {
        background-attachment: scroll;
        background-image: none;
        background-color: #440d0f;
    }
    .navbar {
        border-radius: 20px !important;
    }
}

@media (max-width: 600px) {
    .row {   
        flex-direction: column;
    }
    }
    
@media screen and (max-width: 768px) { /* Bootstrap's mobile view breakpoint */
    .navbar {
        position: relative !important;
    }
    }